:root {
    /* Page colors */
    --color-primary: #6272A4;
    --color-secondary: #9776C7;
    --color-neutral-bright: #F8F8F2;
    --color-neutral-dark: #282A36;
    --color-neutral-dark-2: #181920;
    --color-neutral-dark-3: #3E3F4A;
    --color-error: #E64D4D;
    --color-success: #48E16F;

    /* Typographies */
    --font-general: 'Inter', sans-serif;
    --font-numeric: 'IBM Plex Sans', sans-serif;
    
    --font-size-h1: 3rem; /* 48px */
    --font-size-h2: 2.25rem; /* 36px */
    --font-size-h3: 2rem; /* 32px */
    --font-size-subtitle: 2rem; /* 32px */
    --font-size-base: 1.5rem; /* 24px */

}