.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-neutral-dark);
    padding: 2rem;
    padding-left: 3rem;
    padding-right: 10rem;
}

.logo-header {
    width: 5%;
}

.links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
}

.links a {
    font-size: var(--font-size-base);
    color: var(--color-neutral-bright);
}

.links-left, .links-right {
    display: flex;
    justify-content: space-between;
}

.links-left {
    width: 20%;
}

.links-right {
    width: 15%;
}
